infra/main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.42.1.51946",
      "templateHash": "11229934467993791377"
    }
  },
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Log Analytics workspace with Sentinel"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Resource group location"
      }
    },
    "uniqueSuffix": {
      "type": "string",
      "defaultValue": "[uniqueString(resourceGroup().id)]",
      "metadata": {
        "description": "Unique suffix for resource names"
      }
    },
    "alertWebhookUrl": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Optional Teams/webhook URL for failure alerts (leave empty to disable)"
      }
    },
    "functionPackageUri": {
      "type": "string",
      "defaultValue": "https://raw.githubusercontent.com/Warfion/Onboarding-Assistant/main/infra/function-package.zip",
      "metadata": {
        "description": "Public URL of the Function App zip package used by WEBSITE_RUN_FROM_PACKAGE"
      }
    },
    "deployWorkbook": {
      "type": "bool",
      "defaultValue": true,
      "metadata": {
        "description": "Deploy the Sentinel workbook resource from the checked-in workbook JSON"
      }
    }
  },
  "variables": {
    "$fxv#0": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "functionAppHost": {
          "defaultValue": "",
          "type": "String"
        },
        "refreshSharedSecret": {
          "defaultValue": "",
          "type": "SecureString"
        },
        "subscriptionId": {
          "defaultValue": "",
          "type": "String"
        },
        "resourceGroupName": {
          "defaultValue": "",
          "type": "String"
        },
        "workspaceName": {
          "defaultValue": "",
          "type": "String"
        },
        "alertWebhookUrl": {
          "defaultValue": "",
          "type": "String"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "weekDays": [
                "Sunday"
              ],
              "hours": [
                "2"
              ],
              "minutes": [
                "0"
              ]
            },
            "timeZone": "UTC"
          }
        }
      },
      "actions": {
        "Get_Index_Markdown": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://raw.githubusercontent.com/oshezaf/sentinelninja/main/Solutions%20Docs/connectors-index.md"
          },
          "runAfter": {}
        },
        "Get_Latest_Commit": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.github.com/repos/oshezaf/sentinelninja/commits/main",
            "headers": {
              "Accept": "application/vnd.github.v3+json",
              "User-Agent": "SentinelOnboardingAssistant"
            }
          },
          "runAfter": {}
        },
        "Call_ParseConnectors": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://@{parameters('functionAppHost')}/api/ParseConnectors",
            "headers": {
              "Content-Type": "application/json",
              "x-refresh-secret": "@{parameters('refreshSharedSecret')}"
            },
            "body": {
              "connectorsIndexMarkdown": "@{body('Get_Index_Markdown')}",
              "repoZipUrl": "https://github.com/oshezaf/sentinelninja/archive/refs/heads/main.zip",
              "sourceVersion": "@{body('Get_Latest_Commit')?['sha']}"
            }
          },
          "runAfter": {
            "Get_Index_Markdown": [
              "Succeeded"
            ],
            "Get_Latest_Commit": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          },
          "limit": {
            "timeout": "PT5M"
          }
        },
        "Parse_Function_Response": {
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Call_ParseConnectors')",
            "schema": {
              "type": "object",
              "properties": {
                "csv": {
                  "type": "string"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "active": {
                      "type": "integer"
                    },
                    "deprecated": {
                      "type": "integer"
                    },
                    "sourceVersion": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Call_ParseConnectors": [
              "Succeeded"
            ]
          }
        },
        "Delete_Con_Watchlist": {
          "type": "Http",
          "inputs": {
            "method": "DELETE",
            "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('workspaceName')}/providers/Microsoft.SecurityInsights/watchlists/Con?api-version=2024-03-01",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://management.azure.com/"
            }
          },
          "runAfter": {
            "Parse_Function_Response": [
              "Succeeded"
            ]
          }
        },
        "Put_Con_Watchlist": {
          "type": "Http",
          "inputs": {
            "method": "PUT",
            "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('workspaceName')}/providers/Microsoft.SecurityInsights/watchlists/Con?api-version=2024-03-01",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "properties": {
                "displayName": "Connector Catalog",
                "provider": "Onboarding Assistant",
                "source": "watchlist",
                "description": "Full connector catalog parsed from sentinelninja GitHub repo",
                "itemsSearchKey": "Connector Name",
                "contentType": "Text/Csv",
                "rawContent": "@{body('Parse_Function_Response')?['csv']}"
              }
            },
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://management.azure.com/"
            }
          },
          "runAfter": {
            "Delete_Con_Watchlist": [
              "Succeeded",
              "Failed"
            ]
          }
        },
        "Update_Meta_Success": {
          "type": "Http",
          "inputs": {
            "method": "PUT",
            "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('workspaceName')}/providers/Microsoft.SecurityInsights/watchlists/Con_Meta?api-version=2024-03-01",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "properties": {
                "displayName": "Connector Catalog Metadata",
                "provider": "Onboarding Assistant",
                "source": "watchlist",
                "itemsSearchKey": "RunId",
                "contentType": "Text/Csv",
                "rawContent": "RunId,Timestamp,Result,SourceVersion,ActiveCount,DeprecatedCount,TotalCount,FailureStage,ErrorSummary\n@{guid()},@{utcNow()},Success,@{body('Parse_Function_Response')?['stats']?['sourceVersion']},@{body('Parse_Function_Response')?['stats']?['active']},@{body('Parse_Function_Response')?['stats']?['deprecated']},@{body('Parse_Function_Response')?['stats']?['total']},,"
              }
            },
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://management.azure.com/"
            }
          },
          "runAfter": {
            "Put_Con_Watchlist": [
              "Succeeded"
            ]
          }
        },
        "Update_Meta_Failure": {
          "type": "Http",
          "inputs": {
            "method": "PUT",
            "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resourceGroups/@{parameters('resourceGroupName')}/providers/Microsoft.OperationalInsights/workspaces/@{parameters('workspaceName')}/providers/Microsoft.SecurityInsights/watchlists/Con_Meta?api-version=2024-03-01",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "properties": {
                "displayName": "Connector Catalog Metadata",
                "provider": "Onboarding Assistant",
                "source": "watchlist",
                "itemsSearchKey": "RunId",
                "contentType": "Text/Csv",
                "rawContent": "RunId,Timestamp,Result,SourceVersion,ActiveCount,DeprecatedCount,TotalCount,FailureStage,ErrorSummary\n@{guid()},@{utcNow()},Failed,,,,,ParseConnectors,@{if(equals(outputs('Call_ParseConnectors')?['statusCode'], null), 'Function unreachable', body('Call_ParseConnectors'))}"
              }
            },
            "authentication": {
              "type": "ManagedServiceIdentity",
              "audience": "https://management.azure.com/"
            }
          },
          "runAfter": {
            "Call_ParseConnectors": [
              "Failed",
              "TimedOut"
            ],
            "Parse_Function_Response": [
              "Failed"
            ],
            "Put_Con_Watchlist": [
              "Failed"
            ]
          }
        },
        "Send_Failure_Alert": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@parameters('alertWebhookUrl')",
                    ""
                  ]
                }
              }
            ]
          },
          "actions": {
            "Post_To_Webhook": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{parameters('alertWebhookUrl')}",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "type": "message",
                  "attachments": [
                    {
                      "contentType": "application/vnd.microsoft.card.adaptive",
                      "content": {
                        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                        "type": "AdaptiveCard",
                        "version": "1.4",
                        "body": [
                          {
                            "type": "TextBlock",
                            "size": "Medium",
                            "weight": "Bolder",
                            "text": "⚠️ Watchlist Refresh Failed",
                            "style": "heading"
                          },
                          {
                            "type": "TextBlock",
                            "text": "The Sentinel Onboarding Assistant watchlist refresh pipeline failed at **@{utcNow()}** UTC.",
                            "wrap": true
                          },
                          {
                            "type": "TextBlock",
                            "text": "Check the Con_Meta watchlist or Logic App run history for details.",
                            "wrap": true,
                            "isSubtle": true
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "runAfter": {}
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Update_Meta_Failure": [
              "Succeeded",
              "Failed"
            ]
          }
        }
      }
    },
    "$fxv#1": "{\r\n  \"version\": \"Notebook/1.0\",\r\n  \"items\": [\r\n    {\r\n      \"type\": 1,\r\n      \"content\": {\r\n        \"json\": \"# Sentinel Data Source Onboarding Assistant\\n---\\n\\nVersion: 1.1\"\r\n      },\r\n      \"name\": \"text-WorkbookTitle\"\r\n    },\r\n    {\r\n      \"type\": 9,\r\n      \"content\": {\r\n        \"version\": \"KqlParameterItem/1.0\",\r\n        \"parameters\": [\r\n          {\r\n            \"id\": \"d08e06c0-ba9f-42e4-a518-c417ad30e740\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"DefaultSubscription_Internal\",\r\n            \"type\": 1,\r\n            \"isRequired\": true,\r\n            \"query\": \"where type =~ 'microsoft.operationalinsights/workspaces'\\r\\n| take 1\\r\\n| project subscriptionId\",\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 86400000\r\n            },\r\n            \"queryType\": 1,\r\n            \"resourceType\": \"microsoft.resourcegraph/resources\"\r\n          },\r\n          {\r\n            \"id\": \"b03d08dc-8541-4e31-947c-30d38d8dd893\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"InternalWSs\",\r\n            \"type\": 1,\r\n            \"query\": \"SecurityIncident\\r\\n| take 1\\r\\n| parse IncidentUrl with * \\\"/workspaces/\\\" Workspace \\\"/\\\" *\\r\\n| project Workspace\",\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 0,\r\n            \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n          },\r\n          {\r\n            \"id\": \"1cd544db-f882-407e-9171-4832195d2c21\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"Subscription\",\r\n            \"type\": 6,\r\n            \"isRequired\": true,\r\n            \"query\": \"resources\\r\\n| where type =~ 'microsoft.operationalinsights/workspaces'\\r\\n| distinct subscriptionId\\r\\n| join kind=inner (resourcecontainers | where type == 'microsoft.resources/subscriptions' | project subscriptionId, subscriptionName = name) on subscriptionId\\r\\n| project value = strcat('/subscriptions/', subscriptionId), label = subscriptionName, selected = iff(subscriptionId =~ '{DefaultSubscription_Internal}', true, false)\\r\\n| order by label asc\\r\\n\",\r\n            \"typeSettings\": {\r\n              \"additionalResourceOptions\": [],\r\n              \"showDefault\": false\r\n            },\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 1,\r\n            \"resourceType\": \"microsoft.resourcegraph/resources\",\r\n            \"label\": \"☁️ Subscription\"\r\n          },\r\n          {\r\n            \"id\": \"8176b315-49f6-4fb7-aacb-30b04d59d1e1\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"Workspace\",\r\n            \"type\": 5,\r\n            \"isRequired\": true,\r\n            \"query\": \"let selectedSubscriptionId = tostring(split('{Subscription}', '/')[2]);\\r\\nlet sentinelWorkspaces = resources\\r\\n| where type =~ 'microsoft.operationsmanagement/solutions'\\r\\n| where name startswith 'SecurityInsights('\\r\\n| where subscriptionId =~ selectedSubscriptionId\\r\\n| parse name with 'SecurityInsights(' workspaceName ')'\\r\\n| project id = tostring(properties.workspaceResourceId), label = workspaceName\\r\\n| distinct id, label;\\r\\nlet workspaceCount = toscalar(sentinelWorkspaces | count);\\r\\nsentinelWorkspaces\\r\\n| project id, label, selected = iff(workspaceCount == 1, true, iff(label =~ '{InternalWSs}', true, false))\\r\\n| order by label asc\",\r\n            \"typeSettings\": {\r\n              \"additionalResourceOptions\": []\r\n            },\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 1,\r\n            \"resourceType\": \"microsoft.resourcegraph/resources\",\r\n            \"label\": \"🗂️ Workspace\"\r\n          },\r\n          {\r\n            \"id\": \"3a32bd8f-cfd1-4b20-9f0d-0d66d7aa668f\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"WorkspaceEligible\",\r\n            \"type\": 1,\r\n            \"query\": \"let selectedWorkspace = '{Workspace}';\\r\\nlet hasConMeta = toscalar(_GetWatchlist('Con_Meta') | count);\\r\\nprint WorkspaceEligible = iff(isempty(selectedWorkspace), 'No', iff(hasConMeta > 0, 'Yes', 'No'))\",\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 0,\r\n            \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n          },\r\n          {\r\n            \"id\": \"a0c2e0eb-d5b6-4700-a394-e70c28b1d04c\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"WorkspaceID\",\r\n            \"type\": 1,\r\n            \"query\": \"resources | where type ==\\\"microsoft.operationalinsights/workspaces\\\"\\r\\n| where id has '{Workspace}'\\r\\n| extend WorkspaceID = trim(\\\" \\\",tostring(properties.customerId))\\r\\n| project WorkspaceID\\r\\n\",\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 1,\r\n            \"resourceType\": \"microsoft.resourcegraph/resources\"\r\n          },\r\n          {\r\n            \"id\": \"6bb39edf-2812-4cb2-8274-36d3e34e5ac1\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"WorkspaceSubscriptionId\",\r\n            \"type\": 1,\r\n            \"query\": \"resources\\r\\n| where type =~ 'microsoft.operationalinsights/workspaces'\\r\\n| where tolower(id) == tolower('{Workspace}')\\r\\n| project WorkspaceSubscriptionId = subscriptionId\",\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 1,\r\n            \"resourceType\": \"microsoft.resourcegraph/resources\"\r\n          },\r\n          {\r\n            \"id\": \"36bc67cb-aef9-4d6f-b830-6642326f3712\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"WorkspaceResourceGroup\",\r\n            \"type\": 1,\r\n            \"query\": \"resources\\r\\n| where type =~ 'microsoft.operationalinsights/workspaces'\\r\\n| where tolower(id) == tolower('{Workspace}')\\r\\n| project WorkspaceResourceGroup = resourceGroup\",\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"queryType\": 1,\r\n            \"resourceType\": \"microsoft.resourcegraph/resources\"\r\n          },\r\n          {\r\n            \"id\": \"0fc73ced-c849-4b09-9dfc-805ecb089433\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"Help\",\r\n            \"label\": \"📖 Help\",\r\n            \"type\": 10,\r\n            \"isRequired\": true,\r\n            \"typeSettings\": {\r\n              \"additionalResourceOptions\": []\r\n            },\r\n            \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\", \\\"selected\\\":true }]\",\r\n            \"timeContext\": {\r\n              \"durationMs\": 86400000\r\n            },\r\n            \"value\": \"No\"\r\n          },\r\n          {\r\n            \"id\": \"03655c59-0806-45b8-8b2e-2ae8e8449c32\",\r\n            \"version\": \"KqlParameterItem/1.0\",\r\n            \"name\": \"Tab\",\r\n            \"type\": 1,\r\n            \"isRequired\": true,\r\n            \"isGlobal\": true,\r\n            \"isHiddenWhenLocked\": true,\r\n            \"timeContext\": {\r\n              \"durationMs\": 259200000\r\n            },\r\n            \"value\": \"1\"\r\n          }\r\n        ],\r\n        \"style\": \"above\",\r\n        \"queryType\": 1,\r\n        \"resourceType\": \"microsoft.resourcegraph/resources\"\r\n      },\r\n      \"name\": \"params-Global\"\r\n    },\r\n    {\r\n      \"type\": 1,\r\n      \"content\": {\r\n        \"json\": \"### Introduction\\r\\n\\r\\nThis workbook is designed to catalog all currently available and installed data connectors in Microsoft Sentinel, providing security analysts with a centralized, searchable inventory. It facilitates quick identification of specific connectors and offers actionable recommendations for alternative onboarding approaches when a direct connector is unavailable.\\r\\n\\r\\nThese insights are categorized into three tabs: **Available Data Connectors**, **Alternative Ingestion Methods**, and **Installed Connectors & Coverage**.\\r\\n\\r\\n**Required data sources:**\\r\\n\\r\\nTo make this workbook work properly it is necessary to have auditing and health monitoring data.<br>\\r\\nFollow the instructions on how to [Turn on auditing and health monitoring for Microsoft Sentinel](https://learn.microsoft.com/azure/sentinel/enable-monitoring).\",\r\n        \"style\": \"info\"\r\n      },\r\n      \"conditionalVisibility\": {\r\n        \"parameterName\": \"Help\",\r\n        \"comparison\": \"isEqualTo\",\r\n        \"value\": \"Yes\"\r\n      },\r\n      \"name\": \"text-info\"\r\n    },\r\n    {\r\n      \"type\": 11,\r\n      \"content\": {\r\n        \"version\": \"LinkItem/1.0\",\r\n        \"style\": \"tabs\",\r\n        \"tabStyle\": \"bigger\",\r\n        \"links\": [\r\n          {\r\n            \"id\": \"78d81c4a-0748-46dc-861f-fcf93b8f6aa0\",\r\n            \"cellValue\": \"Tab\",\r\n            \"linkTarget\": \"parameter\",\r\n            \"linkLabel\": \"Available Data Connectors\",\r\n            \"subTarget\": \"1\",\r\n            \"style\": \"link\",\r\n            \"tabWidth\": \"280px\"\r\n          },\r\n          {\r\n            \"id\": \"89698cb9-ac70-4fa7-aef7-342524c147b7\",\r\n            \"cellValue\": \"Tab\",\r\n            \"linkTarget\": \"parameter\",\r\n            \"linkLabel\": \"Alternative Ingestion Methods\",\r\n            \"subTarget\": \"2\",\r\n            \"style\": \"link\",\r\n            \"tabWidth\": \"280px\"\r\n          },\r\n          {\r\n            \"id\": \"c3a1f2d4-5e6b-7890-abcd-ef1234567890\",\r\n            \"cellValue\": \"Tab\",\r\n            \"linkTarget\": \"parameter\",\r\n            \"linkLabel\": \"Installed Connectors & Coverage\",\r\n            \"subTarget\": \"3\",\r\n            \"style\": \"link\",\r\n            \"tabWidth\": \"280px\"\r\n          }\r\n        ]\r\n      },\r\n      \"name\": \"links-TabSwitcher\",\r\n      \"styleSettings\": {\r\n        \"padding\": \"0\"\r\n      }\r\n    },\r\n    {\r\n      \"type\": 1,\r\n      \"content\": {\r\n        \"json\": \"### Workspace Not Ready\\r\\n\\r\\nThe selected workspace is not eligible yet for this workbook view.\\r\\n\\r\\nRequired:\\r\\n- Microsoft Sentinel must be enabled on the workspace\\r\\n- Watchlist Con_Meta must exist\\r\\n\\r\\nNext steps:\\r\\n1. Select a Sentinel-enabled workspace from the picker\\r\\n2. If this is a fresh deployment, run Refresh Connector Catalog once to initialize data\\r\\n3. Reload the workbook\",\r\n        \"style\": \"warning\"\r\n      },\r\n      \"conditionalVisibility\": {\r\n        \"parameterName\": \"WorkspaceEligible\",\r\n        \"comparison\": \"isNotEqualTo\",\r\n        \"value\": \"Yes\"\r\n      },\r\n      \"name\": \"text-WorkspaceEligibilityGuard\"\r\n    },\r\n    {\r\n      \"type\": 12,\r\n      \"content\": {\r\n        \"version\": \"NotebookGroup/1.0\",\r\n        \"groupType\": \"editable\",\r\n        \"items\": [\r\n          {\r\n            \"type\": 12,\r\n            \"content\": {\r\n              \"version\": \"NotebookGroup/1.0\",\r\n              \"groupType\": \"editable\",\r\n              \"items\": [\r\n                {\r\n                  \"type\": 1,\r\n                  \"content\": {\r\n                    \"json\": \"\\r\\n---\\r\\n## Search for an available Connector:\\r\\n---\",\r\n                    \"style\": \"info\"\r\n                  },\r\n                  \"name\": \"text-SearchHeader\"\r\n                },\r\n                {\r\n                  \"type\": 9,\r\n                  \"content\": {\r\n                    \"version\": \"KqlParameterItem/1.0\",\r\n                    \"parameters\": [\r\n                      {\r\n                        \"id\": \"1b27f605-cc27-44bb-8503-9732ca38daa4\",\r\n                        \"version\": \"KqlParameterItem/1.0\",\r\n                        \"name\": \"SelectedConnector\",\r\n                        \"type\": 2,\r\n                        \"query\": \"_GetWatchlist('Con')\\r\\n| project ['Connector Name']\\r\\n| order by ['Connector Name'] asc\",\r\n                        \"typeSettings\": {\r\n                          \"additionalResourceOptions\": [],\r\n                          \"showDefault\": false\r\n                        },\r\n                        \"timeContext\": {\r\n                          \"durationMs\": 86400000\r\n                        },\r\n                        \"queryType\": 0,\r\n                        \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                        \"label\": \"Connector Name\",\r\n                        \"value\": null\r\n                      }\r\n                    ],\r\n                    \"style\": \"above\",\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n                  },\r\n                  \"name\": \"param-ConnectorSearch\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"let connector = '{SelectedConnector}';\\r\\n_GetWatchlist('Con')\\r\\n| where ['Connector Name'] == connector\\r\\n| project ['Connector Name'],['Vendor'],['Method'],['Domain'],['Status'],['Table Count']\\r\\n\",\r\n                    \"size\": 4,\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 86400000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"table\",\r\n                    \"sortBy\": [],\r\n                    \"tileSettings\": {\r\n                      \"showBorder\": false\r\n                    },\r\n                    \"graphSettings\": {\r\n                      \"type\": 0\r\n                    },\r\n                    \"mapSettings\": {\r\n                      \"locInfo\": \"LatLong\"\r\n                    }\r\n                  },\r\n                  \"conditionalVisibility\": {\r\n                    \"parameterName\": \"SelectedConnector\",\r\n                    \"comparison\": \"isNotEqualTo\"\r\n                  },\r\n                  \"name\": \"query-SearchResults\"\r\n                },\r\n                {\r\n                  \"type\": 1,\r\n                  \"content\": {\r\n                    \"json\": \"**Connector Description:**\"\r\n                  },\r\n                  \"conditionalVisibility\": {\r\n                    \"parameterName\": \"SelectedConnector\",\r\n                    \"comparison\": \"isNotEqualTo\"\r\n                  },\r\n                  \"name\": \"text-DescriptionLabel\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"let connector = '{SelectedConnector}';\\r\\n_GetWatchlist('Con') | where ['Connector Name'] == connector | project ['Connector Description'] | take 1\",\r\n                    \"size\": 4,\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 86400000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"card\"\r\n                  },\r\n                  \"name\": \"query-ConnectorDescription\"\r\n                },\r\n                {\r\n                  \"type\": 11,\r\n                  \"content\": {\r\n                    \"version\": \"LinkItem/1.0\",\r\n                    \"style\": \"list\",\r\n                    \"links\": [\r\n                      {\r\n                        \"id\": \"bce5861c-142f-4d19-bc02-926c9aa846ac\",\r\n                        \"cellValue\": \"\",\r\n                        \"linkTarget\": \"CopilotNudge\",\r\n                        \"linkLabel\": \"Ask Copilot in Azure for more Information\",\r\n                        \"style\": \"primary\",\r\n                        \"copilotNudgeActionSettings\": {\r\n                          \"nudgeContent\": \"Create a short description using  {SelectedConnector} as the selected sentinel data connector name and only official Microsoft or vendor sources related to this connector.\\n\\nInclude:\\n1) Overview & Use Cases\\n2) Prerequisites\\n3) Enablement Steps\\n4) Data Schema\\n5) References\\n\\nUse numbered headings, bullets for lists, code blocks for CLI/KQL, omit unknowns, cite official sources.\"\r\n                        }\r\n                      }\r\n                    ]\r\n                  },\r\n                  \"conditionalVisibility\": {\r\n                    \"parameterName\": \"SelectedConnector\",\r\n                    \"comparison\": \"isNotEqualTo\"\r\n                  },\r\n                  \"name\": \"link-CopilotNudge\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"_GetWatchlist('Con_Meta')\\r\\n| extend RefreshTime = todatetime(Timestamp)\\r\\n| summarize arg_max(RefreshTime, *)\\r\\n| project Status = case(\\r\\n    Result == 'Success', strcat('✅ Updated ', format_datetime(RefreshTime, 'yyyy-MM-dd HH:mm:ss'), ' (', tostring(ActiveCount), ' active)'),\\r\\n    Result == 'Pending', strcat('⏳ Not refreshed yet (seeded ', format_datetime(RefreshTime, 'yyyy-MM-dd HH:mm:ss'), ')'),\\r\\n    Result == 'Failed', strcat('❌ Last refresh failed at ', format_datetime(RefreshTime, 'yyyy-MM-dd HH:mm:ss'), iff(isnotempty(tostring(FailureStage)), strcat(' [', tostring(FailureStage), ']'), ''), iff(isnotempty(tostring(ErrorSummary)), strcat(' - ', tostring(ErrorSummary)), '')),\\r\\n    strcat('⚠️ Last refresh: ', tostring(Result), ' at ', format_datetime(RefreshTime, 'yyyy-MM-dd HH:mm:ss'))\\r\\n)\",\r\n                    \"size\": 4,\r\n                    \"title\": \"Connector Catalog Status\",\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 86400000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"card\"\r\n                  },\r\n                  \"customWidth\": \"70\",\r\n                  \"name\": \"query-CatalogStatus\"\r\n                },\r\n                {\r\n                  \"type\": 11,\r\n                  \"content\": {\r\n                    \"version\": \"LinkItem/1.0\",\r\n                    \"style\": \"paragraph\",\r\n                    \"links\": [\r\n                      {\r\n                        \"id\": \"a7b8c9d0-e1f2-3456-abcd-789012345678\",\r\n                        \"linkTarget\": \"ArmAction\",\r\n                        \"linkLabel\": \"🔄 Refresh Connector Catalog\",\r\n                        \"style\": \"primary\",\r\n                        \"armActionContext\": {\r\n                          \"path\": \"/subscriptions/{WorkspaceSubscriptionId}/resourceGroups/{WorkspaceResourceGroup}/providers/Microsoft.Logic/workflows/la-watchlist-refresh/triggers/Recurrence/run?api-version=2016-06-01\",\r\n                          \"httpMethod\": \"POST\",\r\n                          \"title\": \"Refresh Connector Catalog\",\r\n                          \"description\": \"This will trigger the Logic App to refresh the connector watchlist from GitHub. The process takes about 1–2 minutes. Reload the workbook afterward to see updated data.\",\r\n                          \"actionName\": \"RunLogicApp\",\r\n                          \"runLabel\": \"Refresh\"\r\n                        }\r\n                      }\r\n                    ]\r\n                  },\r\n                  \"customWidth\": \"30\",\r\n                  \"name\": \"link-RefreshCatalog\"\r\n                },\r\n                {\r\n                  \"type\": 1,\r\n                  \"content\": {\r\n                    \"json\": \"ℹ️ Default behavior: **Refresh Connector Catalog** triggers the Logic App in the selected workspace's resource group.\\r\\n\\r\\nAlternative: if your Logic App is hosted in a different resource group, choose it below and use **Refresh (Alternative Target)**.\",\r\n                    \"style\": \"info\"\r\n                  },\r\n                  \"name\": \"text-RefreshBehaviorNote\"\r\n                },\r\n                {\r\n                  \"type\": 9,\r\n                  \"content\": {\r\n                    \"version\": \"KqlParameterItem/1.0\",\r\n                    \"parameters\": [\r\n                      {\r\n                        \"id\": \"9abf8a90-f540-4ea8-a6a3-d2f19ef93c85\",\r\n                        \"version\": \"KqlParameterItem/1.0\",\r\n                        \"name\": \"RefreshWorkflowOverride\",\r\n                        \"type\": 5,\r\n                        \"query\": \"resources\\r\\n| where type =~ 'microsoft.logic/workflows'\\r\\n| where name =~ 'la-watchlist-refresh'\\r\\n| project id, label = strcat(name, ' (', resourceGroup, ')'), selected = iff(tolower(subscriptionId) == tolower('{WorkspaceSubscriptionId}') and tolower(resourceGroup) == tolower('{WorkspaceResourceGroup}'), true, false)\",\r\n                        \"typeSettings\": {\r\n                          \"additionalResourceOptions\": [],\r\n                          \"showDefault\": false\r\n                        },\r\n                        \"timeContext\": {\r\n                          \"durationMs\": 259200000\r\n                        },\r\n                        \"queryType\": 1,\r\n                        \"resourceType\": \"microsoft.resourcegraph/resources\",\r\n                        \"label\": \"Alternative refresh target (Logic App)\"\r\n                      }\r\n                    ],\r\n                    \"style\": \"above\",\r\n                    \"queryType\": 1,\r\n                    \"resourceType\": \"microsoft.resourcegraph/resources\"\r\n                  },\r\n                  \"name\": \"param-RefreshWorkflowOverride\"\r\n                },\r\n                {\r\n                  \"type\": 11,\r\n                  \"content\": {\r\n                    \"version\": \"LinkItem/1.0\",\r\n                    \"style\": \"paragraph\",\r\n                    \"links\": [\r\n                      {\r\n                        \"id\": \"5de89ed9-73b6-438a-a330-f55332ec132d\",\r\n                        \"linkTarget\": \"ArmAction\",\r\n                        \"linkLabel\": \"🔄 Refresh (Alternative Target)\",\r\n                        \"style\": \"primary\",\r\n                        \"armActionContext\": {\r\n                          \"path\": \"{RefreshWorkflowOverride}/triggers/Recurrence/run?api-version=2016-06-01\",\r\n                          \"httpMethod\": \"POST\",\r\n                          \"title\": \"Refresh Connector Catalog (Alternative Target)\",\r\n                          \"description\": \"Use this option when the Logic App is in a different resource group than the selected workspace.\",\r\n                          \"actionName\": \"RunLogicAppAlt\",\r\n                          \"runLabel\": \"Refresh\"\r\n                        }\r\n                      }\r\n                    ]\r\n                  },\r\n                  \"conditionalVisibility\": {\r\n                    \"parameterName\": \"RefreshWorkflowOverride\",\r\n                    \"comparison\": \"isNotEqualTo\"\r\n                  },\r\n                  \"name\": \"link-RefreshCatalogAlternative\"\r\n                },\r\n                {\r\n                  \"type\": 1,\r\n                  \"content\": {\r\n                    \"json\": \"---\\r\\n## List of all available Connectors:\\r\\n---\",\r\n                    \"style\": \"info\"\r\n                  },\r\n                  \"name\": \"text-AllConnectorsHeader\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"_GetWatchlist('Con') | summarize dataconnectorcount=count() by ['Vendor']\\r\\n| sort by dataconnectorcount\",\r\n                    \"size\": 3,\r\n                    \"title\": \"Connectors by Publisher\",\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 86400000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"piechart\",\r\n                    \"graphSettings\": {\r\n                      \"type\": 0,\r\n                      \"topContent\": {\r\n                        \"columnMatch\": \"Vendor\",\r\n                        \"formatter\": 1\r\n                      },\r\n                      \"centerContent\": {\r\n                        \"columnMatch\": \"dataconnectorcount\",\r\n                        \"formatter\": 1,\r\n                        \"numberFormat\": {\r\n                          \"unit\": 17,\r\n                          \"options\": {\r\n                            \"maximumSignificantDigits\": 3,\r\n                            \"maximumFractionDigits\": 2\r\n                          }\r\n                        }\r\n                      }\r\n                    },\r\n                    \"mapSettings\": {\r\n                      \"locInfo\": \"LatLong\",\r\n                      \"sizeSettings\": \"dataconnectorcount\",\r\n                      \"sizeAggregation\": \"Sum\",\r\n                      \"legendMetric\": \"dataconnectorcount\",\r\n                      \"legendAggregation\": \"Sum\",\r\n                      \"itemColorSettings\": {\r\n                        \"type\": \"heatmap\",\r\n                        \"colorAggregation\": \"Sum\",\r\n                        \"nodeColorField\": \"dataconnectorcount\",\r\n                        \"heatmapPalette\": \"greenRed\"\r\n                      }\r\n                    }\r\n                  },\r\n                  \"customWidth\": \"50\",\r\n                  \"name\": \"query-VendorPieChart\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"_GetWatchlist('Con') | where Status == 'Active' | summarize count() by Method = tostring(['Method'])\\r\\n| sort by count_\",\r\n                    \"size\": 3,\r\n                    \"title\": \"Active Connectors by Method\",\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 86400000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"piechart\"\r\n                  },\r\n                  \"customWidth\": \"50\",\r\n                  \"name\": \"query-MethodPieChart\"\r\n                },\r\n                {\r\n                  \"type\": 9,\r\n                  \"content\": {\r\n                    \"version\": \"KqlParameterItem/1.0\",\r\n                    \"parameters\": [\r\n                      {\r\n                        \"id\": \"b2c3d4e5-f6a7-8901-bcde-f01234567890\",\r\n                        \"version\": \"KqlParameterItem/1.0\",\r\n                        \"name\": \"ConnectorFilter\",\r\n                        \"label\": \"Show\",\r\n                        \"type\": 10,\r\n                        \"isRequired\": true,\r\n                        \"typeSettings\": {\r\n                          \"additionalResourceOptions\": [],\r\n                          \"showDefault\": false\r\n                        },\r\n                        \"jsonData\": \"[{ \\\"value\\\": \\\"All\\\", \\\"label\\\": \\\"All\\\", \\\"selected\\\": true },\\r\\n{ \\\"value\\\": \\\"FirstParty\\\", \\\"label\\\": \\\"🔷 First Party (Microsoft)\\\" },\\r\\n{ \\\"value\\\": \\\"ThirdParty\\\", \\\"label\\\": \\\"🔶 Third Party\\\" },\\r\\n{ \\\"value\\\": \\\"Deprecated\\\", \\\"label\\\": \\\"🚫 Deprecated\\\" }]\",\r\n                        \"timeContext\": {\r\n                          \"durationMs\": 86400000\r\n                        }\r\n                      }\r\n                    ],\r\n                    \"style\": \"above\",\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n                  },\r\n                  \"name\": \"param-ConnectorFilter\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"_GetWatchlist('Con')\\r\\n| project ['Connector Name'], ['Vendor'], ['Method'], ['Domain'], ['Status']\\r\\n| where '{ConnectorFilter}' == 'All'\\r\\n    or ('{ConnectorFilter}' == 'Deprecated' and Status == 'Deprecated')\\r\\n    or ('{ConnectorFilter}' == 'FirstParty' and Status != 'Deprecated' and Vendor has 'Microsoft')\\r\\n    or ('{ConnectorFilter}' == 'ThirdParty' and Status != 'Deprecated' and not(Vendor has 'Microsoft'))\",\r\n                    \"size\": 0,\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 86400000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"gridSettings\": {\r\n                      \"rowLimit\": 10000,\r\n                      \"formatters\": [\r\n                        {\r\n                          \"columnMatch\": \"Status\",\r\n                          \"formatter\": 18,\r\n                          \"formatOptions\": {\r\n                            \"thresholdsOptions\": \"icons\",\r\n                            \"thresholdsGrid\": [\r\n                              {\r\n                                \"operator\": \"contains\",\r\n                                \"thresholdValue\": \"Deprecated\",\r\n                                \"representation\": \"4\",\r\n                                \"text\": \"{0}{1}\"\r\n                              },\r\n                              {\r\n                                \"operator\": \"Default\",\r\n                                \"thresholdValue\": \"\",\r\n                                \"representation\": \"success\",\r\n                                \"text\": \"{0}{1}\"\r\n                              }\r\n                            ]\r\n                          }\r\n                        }\r\n                      ]\r\n                    }\r\n                  },\r\n                  \"name\": \"query-AllConnectorsGrid\"\r\n                }\r\n              ]\r\n            },\r\n            \"customWidth\": \"70\",\r\n            \"name\": \"group-Tab1-Main\"\r\n          },\r\n          {\r\n            \"type\": 12,\r\n            \"content\": {\r\n              \"version\": \"NotebookGroup/1.0\",\r\n              \"groupType\": \"editable\",\r\n              \"items\": [\r\n                {\r\n                  \"type\": 1,\r\n                  \"content\": {\r\n                    \"json\": \"### Next Steps\\r\\nThe official Microsoft Learn documentation provides a comprehensive list of available data connectors, including detailed guidance for onboarding each connector.\\r\\n\\r\\n🔗: [Find your Sentinel data connector](https://learn.microsoft.com/en-us/azure/sentinel/data-connectors-reference#sentinel-data-connectors)\\r\\n\\r\\nTo streamline your workflow and bypass further extensive research, proceed directly to the installation of the identified data connector through the Microsoft Sentinel Content Hub 👇.\",\r\n                    \"style\": \"upsell\"\r\n                  },\r\n                  \"name\": \"text-NextStepsInfo\"\r\n                },\r\n                {\r\n                  \"type\": 11,\r\n                  \"content\": {\r\n                    \"version\": \"LinkItem/1.0\",\r\n                    \"style\": \"paragraph\",\r\n                    \"links\": [\r\n                      {\r\n                        \"id\": \"3f4eaa0c-38e6-40d3-8dc8-bc5281a1908c\",\r\n                        \"linkTarget\": \"OpenBlade\",\r\n                        \"linkLabel\": \"Open Content Hub\",\r\n                        \"style\": \"primary\",\r\n                        \"bladeOpenContext\": {\r\n                          \"bladeName\": \"ContentHub.Reactview\",\r\n                          \"extensionName\": \"Microsoft_Azure_SentinelUS\",\r\n                          \"bladeParameters\": [\r\n                            {\r\n                              \"name\": \"subscriptionId\",\r\n                              \"source\": \"static\",\r\n                              \"value\": \"{Workspace:subscriptionId}\"\r\n                            },\r\n                            {\r\n                              \"name\": \"resourceGroup\",\r\n                              \"source\": \"static\",\r\n                              \"value\": \"{Workspace:resourcegroup}\"\r\n                            },\r\n                            {\r\n                              \"name\": \"workspaceName\",\r\n                              \"source\": \"static\",\r\n                              \"value\": \"{Workspace:name}\"\r\n                            }\r\n                          ]\r\n                        }\r\n                      }\r\n                    ]\r\n                  },\r\n                  \"name\": \"link-OpenContentHub\"\r\n                }\r\n              ]\r\n            },\r\n            \"customWidth\": \"30\",\r\n            \"name\": \"group-Tab1-NextSteps\"\r\n          }\r\n        ]\r\n      },\r\n      \"conditionalVisibilities\": [\r\n        {\r\n          \"parameterName\": \"Tab\",\r\n          \"comparison\": \"isEqualTo\",\r\n          \"value\": \"1\"\r\n        },\r\n        {\r\n          \"parameterName\": \"WorkspaceEligible\",\r\n          \"comparison\": \"isEqualTo\",\r\n          \"value\": \"Yes\"\r\n        }\r\n      ],\r\n      \"name\": \"group-AvailableConnectors\"\r\n    },\r\n    {\r\n      \"type\": 12,\r\n      \"content\": {\r\n        \"version\": \"NotebookGroup/1.0\",\r\n        \"groupType\": \"editable\",\r\n        \"items\": [\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"## 🌳 Decision Tree Start\"\r\n            },\r\n            \"name\": \"text-DecisionTreeHeader\",\r\n            \"styleSettings\": {\r\n              \"showBorder\": true\r\n            }\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### 📋 Decision Summary\\n\\nYour answers are tracked below. To change an answer, scroll to that question and select a different option.\\n\\n| # | Question | Answer |\\n|---|---|---|\\n| 1️⃣ | Content Hub listed? | {Q1} |\\n| 2️⃣ | Built-in connector? | {Q2} |\\n| 3️⃣ | REST API available? | {Q3} |\\n| 4️⃣a | CCF suitable? | {Q4a} |\\n| 4️⃣b | Preprocessing needed? | {Q4b} |\\n| 4️⃣c | Arc-enabled K8s available? | {Q4c} |\\n| 5️⃣ | Supports CEF? | {Q5} |\\n| 6️⃣ | Supports Syslog? | {Q6} |\\n| 7️⃣ | Exports files? | {Q7} |\\n| 8️⃣ | Supports webhooks? | {Q8} |\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q1\",\r\n              \"comparison\": \"isNotEqualTo\"\r\n            },\r\n            \"name\": \"text-DecisionSummary\",\r\n            \"styleSettings\": {\r\n              \"showBorder\": true\r\n            }\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Use Built-in Connector**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecBuiltIn\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Codeless Connector Framework (CCF)**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4a\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecCCF\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Logs Ingestion API (DCE + DCR)**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4a\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecLogsAPI\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Azure Monitor Pipeline (containerized)**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4c\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecPipeline\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Logstash with Sentinel Output Plugin**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4c\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecLogstash\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ CEF via AMA**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecCEF\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Syslog via AMA**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecSyslog\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Custom Logs v2 (File Upload via AMA)**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q7\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecCustomLogs\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Webhook → Function/Logic App → Logs Ingestion API**\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q8\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecWebhook\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"🎯 **→ Ad-hoc upload via Logs Ingestion API (last resort)**\",\r\n              \"style\": \"warning\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q8\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-RecAdHoc\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"c6eb4fb8-335b-42a4-8c48-cccdc0c43c33\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q1\",\r\n                  \"label\": \"1️⃣ Listed in Sentinel Content Hub?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"name\": \"param-Q1-ContentHub\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Check if your data source already has a solution published in the [Content Hub](https://learn.microsoft.com/azure/sentinel/sentinel-solutions-catalog) — if so, setup is straightforward.*\"\r\n            },\r\n            \"name\": \"text-HelpQ1\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"d490448b-74ab-4466-96d3-f020e2540536\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q2\",\r\n                  \"label\": \"2️⃣ Built-in connector available?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q1\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"param-Q2-BuiltIn\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Some Content Hub solutions include analytics rules or workbooks but no data connector. Verify a connector is actually included.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q1\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-HelpQ2\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Use Built-in Connector\\r\\n\\r\\nBuilt-in connectors in Microsoft Sentinel are preconfigured integrations that enable quick, secure, and automated data ingestion from Microsoft and third-party services without custom development.\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour data source is listed in Content Hub (Q1: {Q1}) and has a built-in connector (Q2: {Q2}). This is the fastest path — no custom development, no infrastructure to maintain.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- All other methods (CCF, Logs API, AMA, Logstash, Pipeline) require more setup and maintenance\\r\\n- Built-in connectors are Microsoft-supported and automatically updated\\r\\n\\r\\n**Constraints:**\\r\\n- Some built-in connectors require specific permissions (e.g., Global Admin for Microsoft 365)\\r\\n- Connector configuration may require API keys or OAuth consent from the vendor\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultBuiltIn\"\r\n          },\r\n          {\r\n            \"type\": 11,\r\n            \"content\": {\r\n              \"version\": \"LinkItem/1.0\",\r\n              \"style\": \"paragraph\",\r\n              \"links\": [\r\n                {\r\n                  \"id\": \"16df0add-e34b-44f3-95dd-2ff9d85bf271\",\r\n                  \"cellValue\": \"Tab\",\r\n                  \"linkTarget\": \"parameter\",\r\n                        \"linkLabel\": \"Switch to \\\"Available Data Connectors\\\" Tab\",\r\n                  \"subTarget\": \"1\",\r\n                  \"postText\": \"\",\r\n                  \"style\": \"primary\"\r\n                }\r\n              ]\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"link-SwitchToTab1\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"No built-in connector — evaluate the data source capabilities below 👇🏻\",\r\n              \"style\": \"warning\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-EvalPrompt-Q1YesQ2No\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"Not listed in Content Hub — evaluate the data source capabilities below 👇🏻\",\r\n              \"style\": \"warning\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q1\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"text-EvalPrompt-Q1No\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"## 🔍 Evaluate Capabilities\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isNotEqualTo\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isNotEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-EvalHeader\",\r\n            \"styleSettings\": {\r\n              \"showBorder\": true\r\n            }\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"3302bf75-6dac-4cea-b9f2-ade6ef98b522\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q3\",\r\n                  \"label\": \"3️⃣ Does the data source have a REST API?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isNotEqualTo\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isNotEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"param-Q3-RestAPI\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 REST APIs let Sentinel pull data programmatically. Most cloud services and SaaS platforms expose one.*\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q1\",\r\n                \"comparison\": \"isNotEqualTo\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q2\",\r\n                \"comparison\": \"isNotEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-HelpQ3\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"7a93ea61-7d30-448c-9f71-6886dee30fd2\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q4a\",\r\n                  \"label\": \"4️⃣a Is the Codeless Connector Framework (CCF) suitable?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q3\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"param-Q4a-CCF\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 CCF works best with REST APIs that support pagination, return JSON, and use standard auth (OAuth2 or API key). No custom code required.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q3\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-HelpQ4a\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Use Codeless Connector Framework (CCF)\\r\\n\\r\\nThe CCF allows you to create a custom data connector for Microsoft Sentinel without writing code. Define a JSON configuration that tells Sentinel how to connect to your data source's REST API and ingest data.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Data source must expose a REST API with pagination support\\r\\n- OAuth2 or API key authentication\\r\\n- JSON response format\\r\\n\\r\\n🔗 [Create a codeless connector](https://learn.microsoft.com/azure/sentinel/create-codeless-connector)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has a REST API (Q3: {Q3}) and CCF is suitable (Q4a: {Q4a}). CCF is the preferred no-code approach for REST API sources — it runs natively in Sentinel with zero infrastructure.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- Logs Ingestion API would work but requires custom code to call the API and forward data\\r\\n- AMA-based methods (CEF/Syslog) don't apply — your source has a REST API, not log streaming\\r\\n\\r\\n**Constraints:**\\r\\n- Requires REST API with pagination support and JSON responses\\r\\n- Only supports OAuth2 and API key authentication (no SAML, no client certificate)\\r\\n- Not suitable for APIs with complex workflows, binary data, or non-standard pagination\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4a\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultCCF\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Use Logs Ingestion API\\r\\n\\r\\nThe Logs Ingestion API allows you to send data to a Log Analytics workspace from any REST client. This is the preferred method when a built-in connector or CCF is not available but the source has an API.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Data Collection Endpoint (DCE)\\r\\n- Data Collection Rule (DCR)\\r\\n- OAuth/RBAC authentication (Microsoft Entra app registration)\\r\\n\\r\\n🔗 [Logs Ingestion API overview](https://learn.microsoft.com/azure/azure-monitor/logs/logs-ingestion-api-overview)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has a REST API (Q3: {Q3}) but CCF isn't suitable (Q4a: {Q4a}). The Logs Ingestion API gives you full control with custom code to pull data and push it to Sentinel.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- CCF was ruled out — likely the API doesn't support pagination, returns non-JSON, or uses unsupported auth\\r\\n- AMA-based methods don't apply to REST API sources\\r\\n\\r\\n**Constraints:**\\r\\n- Requires custom code (Azure Function, Logic App, or script) to call the source API\\r\\n- You must manage the DCE + DCR + Entra app registration\\r\\n- Polling frequency and data transformation are your responsibility\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4a\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultLogsAPI\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"8c110668-7163-43ad-b235-f4c32a343a15\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q4b\",\r\n                  \"label\": \"4️⃣b Does the data need preprocessing or transformation?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q3\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"param-Q4b-Preprocessing\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Consider this if logs need parsing, enrichment, filtering, or format conversion before ingestion. Both Azure Monitor Pipeline and Logstash handle CEF, Syslog, and custom formats.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q3\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"text-HelpQ4b\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q4c\",\r\n                  \"label\": \"4️⃣c Do you have an Arc-enabled Kubernetes cluster available?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q4b\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"param-Q4c-K8s\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Azure Monitor Pipeline runs on Arc-enabled K8s and is the Microsoft-native alternative to Logstash — it auto-schematizes Syslog/CEF, supports persistent buffering, and requires no third-party components.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q4b\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-HelpQ4c\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Azure Monitor Pipeline\\r\\n\\r\\nAzure Monitor Pipeline is a containerized, Microsoft-native solution that runs on an Arc-enabled Kubernetes cluster. It receives Syslog, CEF, and OTLP telemetry, applies filtering/transformation locally, and forwards data to Azure Monitor.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Arc-enabled Kubernetes cluster with cert-manager extension\\r\\n- Custom locations enabled on the cluster\\r\\n- Data Collection Endpoint (DCE) + Data Collection Rule (DCR)\\r\\n- Log Analytics workspace (with Sentinel for CommonSecurityLog)\\r\\n\\r\\n**Key advantages over Logstash:**\\r\\n- Auto-schematizes to `Syslog` and `CommonSecurityLog` tables\\r\\n- Persistent local storage survives connectivity loss\\r\\n- No third-party software to license or maintain\\r\\n- Built-in TLS/mTLS support\\r\\n\\r\\n🔗 [Azure Monitor Pipeline overview](https://learn.microsoft.com/azure/azure-monitor/data-collection/pipeline-overview)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), needs preprocessing (Q4b: {Q4b}), and you have an Arc-enabled K8s cluster (Q4c: {Q4c}). Azure Monitor Pipeline is the Microsoft-native choice for centralized log processing.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- Logstash would work but requires third-party software licensing and maintenance\\r\\n- Direct AMA (CEF/Syslog) doesn't provide preprocessing capabilities\\r\\n- CCF/Logs API require a REST API (you answered No)\\r\\n\\r\\n**Constraints:**\\r\\n- Requires Arc-enabled Kubernetes cluster with cert-manager extension\\r\\n- Currently supports Syslog, CEF, and OTLP — other formats may not be supported yet\\r\\n- You are responsible for operating the Kubernetes environment\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4c\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultPipeline\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Logstash with Sentinel Output Plugin\\r\\n\\r\\nUse Logstash for data preprocessing, transformation, and enrichment before sending to Microsoft Sentinel. Suitable when no Kubernetes cluster is available.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Logstash instance (existing or new)\\r\\n- Microsoft Sentinel output plugin (`microsoft-sentinel-log-analytics-logstash-output-plugin`)\\r\\n- Data Collection Endpoint (DCE) + Data Collection Rule (DCR)\\r\\n\\r\\n🔗 [Connect Logstash to Sentinel](https://learn.microsoft.com/azure/sentinel/connect-logstash-data-connection-rules)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), needs preprocessing (Q4b: {Q4b}), but no Arc-enabled K8s cluster is available (Q4c: {Q4c}). Logstash is the established fallback for preprocessing without Kubernetes.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- Azure Monitor Pipeline is preferred but requires K8s (you answered No)\\r\\n- Direct AMA (CEF/Syslog) doesn't provide preprocessing\\r\\n- CCF/Logs API require a REST API\\r\\n\\r\\n**Constraints:**\\r\\n- Logstash is open-source but Elastic licensing applies to newer versions\\r\\n- Requires a dedicated VM or container to run\\r\\n- You manage plugin updates, pipeline configs, and monitoring yourself\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4c\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultLogstash\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"0f9aa3f6-a67e-4459-b2c9-ddfde9a12bda\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q5\",\r\n                  \"label\": \"5️⃣ Does the data source support CEF?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q4b\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"param-Q5-CEF\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Common Event Format (CEF) is widely used by firewalls, IDS/IPS, and network appliances. Check your vendor's logging documentation.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q4b\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"text-HelpQ5\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ CEF via AMA\\r\\n\\r\\nUse the Azure Monitor Agent (AMA) to collect Common Event Format (CEF) logs. CEF is a standard log format used by many network and security appliances.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Linux log forwarder VM with AMA installed\\r\\n- Data Collection Rule (DCR) for CEF\\r\\n- Source device configured to send CEF to the forwarder\\r\\n\\r\\n🔗 [Ingest CEF logs with AMA](https://learn.microsoft.com/azure/sentinel/connect-cef-ama)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), doesn't need preprocessing (Q4b: {Q4b}), and supports CEF (Q5: {Q5}). AMA with a Linux forwarder is the lightest managed path for CEF data.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- Preprocessing solutions (Pipeline/Logstash) are overkill — your data doesn't need transformation\\r\\n- Syslog via AMA is for non-CEF syslog — CEF is more structured and preferred when available\\r\\n- CCF/Logs API require a REST API\\r\\n\\r\\n**Constraints:**\\r\\n- Requires a dedicated Linux forwarder VM with AMA installed\\r\\n- Forwarder VM sizing affects maximum throughput\\r\\n- Source device must be configured to send CEF to the forwarder's IP on port 514\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultCEF\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"3e445909-184a-475e-a76b-6949a09a0d2e\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q6\",\r\n                  \"label\": \"6️⃣ Does it support Syslog?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q5\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"param-Q6-Syslog\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Syslog is the standard logging protocol for Linux systems and many network devices. Check if your device can forward syslog over TCP/UDP.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q5\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"text-HelpQ6\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Syslog via AMA\\r\\n\\r\\nUse the Azure Monitor Agent (AMA) to collect Syslog messages. Suitable for Linux-based appliances and services that emit standard Syslog.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Linux VM with AMA installed (or direct agent on source)\\r\\n- rsyslog or syslog-ng configured to forward logs\\r\\n- Data Collection Rule (DCR) for Syslog\\r\\n\\r\\n🔗 [Collect Syslog with AMA](https://learn.microsoft.com/azure/sentinel/connect-cef-syslog-ama)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), doesn't need preprocessing (Q4b: {Q4b}), doesn't support CEF (Q5: {Q5}), but supports Syslog (Q6: {Q6}). AMA handles standard Syslog natively.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- CEF via AMA was preferred but your source doesn't output CEF format\\r\\n- Preprocessing solutions are unnecessary — standard Syslog works as-is\\r\\n- CCF/Logs API require a REST API\\r\\n\\r\\n**Constraints:**\\r\\n- Requires a Linux VM with AMA (or direct agent on source if supported)\\r\\n- Only standard Syslog facilities and severities are supported\\r\\n- Custom-formatted syslog messages may need DCR transformations for proper parsing\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultSyslog\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"bb5c0715-1ed9-4d1c-af4b-604f3d04731d\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q7\",\r\n                  \"label\": \"7️⃣ Does the source export files (CSV/JSON)?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q6\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"param-Q7-FileExport\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Some systems export audit logs or event data as CSV/JSON files on a schedule. AMA can tail these files automatically.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q6\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"text-HelpQ7\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Custom Logs v2 — File Upload via AMA\\r\\n\\r\\nUse the Azure Monitor Agent to collect log data from text files (CSV, JSON, or custom delimited formats) on Windows or Linux machines.\\r\\n\\r\\n**Prerequisites:**\\r\\n- AMA installed on the machine with the log files\\r\\n- Custom table created in Log Analytics workspace\\r\\n- Data Collection Rule (DCR) with custom log source\\r\\n\\r\\n🔗 [Collect custom text logs with AMA](https://learn.microsoft.com/azure/sentinel/connect-custom-logs-ama)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), no preprocessing needed (Q4b: {Q4b}), no CEF (Q5: {Q5}), no Syslog (Q6: {Q6}), but exports files (Q7: {Q7}). AMA can tail CSV/JSON files directly from disk.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- All network-based methods (CEF, Syslog, Webhook) don't apply — your source exports files\\r\\n- Preprocessing isn't needed — the file format is usable as-is\\r\\n\\r\\n**Constraints:**\\r\\n- AMA must be installed on the machine where files are written\\r\\n- Requires a custom table in Log Analytics (not a built-in table)\\r\\n- File rotation and cleanup are your responsibility\\r\\n- Not suitable for real-time alerting — depends on file write frequency\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q7\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultCustomLogs\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"edc1f62c-704e-4b25-b2ab-dea42cfc3e52\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"Q8\",\r\n                  \"label\": \"8️⃣ Does the source support webhooks?\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"Yes\\\", \\\"label\\\": \\\"Yes\\\"},\\r\\n {\\\"value\\\": \\\"No\\\", \\\"label\\\": \\\"No\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"formVertical\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q7\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"param-Q8-Webhooks\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"*💡 Webhooks let the source push events in real-time to an HTTP endpoint. You'll need an Azure Function or Logic App to receive and forward them.*\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Q7\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"No\"\r\n            },\r\n            \"name\": \"text-HelpQ8\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ✅ Webhook → Azure Function / Logic App → Logs Ingestion API\\r\\n\\r\\nConfigure the data source to push events via webhook to an Azure Function or Logic App, which then forwards data to Sentinel via the Logs Ingestion API.\\r\\n\\r\\n**Prerequisites:**\\r\\n- Azure Function (HTTP trigger) or Logic App (HTTP trigger)\\r\\n- Data Collection Endpoint (DCE) + Data Collection Rule (DCR)\\r\\n- Webhook configuration on the source system\\r\\n\\r\\n🔗 [Logs Ingestion API overview](https://learn.microsoft.com/azure/azure-monitor/logs/logs-ingestion-api-overview)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), no preprocessing needed (Q4b: {Q4b}), no CEF (Q5: {Q5}), no Syslog (Q6: {Q6}), no file export (Q7: No), but supports webhooks (Q8: {Q8}). Event-driven push via webhook is the most responsive option left.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- All agent-based methods require protocol support your source doesn't have\\r\\n- File upload is not applicable — your source doesn't export files\\r\\n\\r\\n**Constraints:**\\r\\n- You need an Azure Function or Logic App to receive and transform the webhook payload\\r\\n- Webhook endpoints must be internet-accessible (or use private endpoints)\\r\\n- Retry logic and deduplication are your responsibility\\r\\n- Cost scales with event volume (Function/Logic App consumption billing)\",\r\n              \"style\": \"success\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q8\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"Yes\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultWebhook\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ⚠️ Ad-hoc Upload via Logs Ingestion API (Last Resort)\\r\\n\\r\\nWhen no other ingestion method is available, data can be manually or semi-automatically uploaded to Sentinel using the Logs Ingestion API. This is suitable for **low-volume, infrequent** data only.\\r\\n\\r\\n**Built on:** Data Collection Endpoint (DCE) + Data Collection Rule (DCR)\\r\\n\\r\\n**Key Notes:**\\r\\n- ❌ Avoid MMA/OMS agent (retired Aug 31, 2024) — use AMA\\r\\n- ⚠️ HTTP Data Collector API is deprecated (retires Sep 14, 2026)\\r\\n- Use Logs Ingestion API for all new custom integrations\\r\\n\\r\\n🔗 [Logs Ingestion API overview](https://learn.microsoft.com/azure/azure-monitor/logs/logs-ingestion-api-overview)\\r\\n\\r\\n---\\r\\n\\r\\n**Why this recommendation:**\\r\\nYour source has no REST API (Q3: {Q3}), no preprocessing needed (Q4b: {Q4b}), no CEF (Q5: {Q5}), no Syslog (Q6: {Q6}), no file export (Q7: No), and no webhooks (Q8: {Q8}). This is the last resort when no automated method is available.\\r\\n\\r\\n**Why not the alternatives?**\\r\\n- Every automated ingestion method has been evaluated and ruled out based on your answers above\\r\\n\\r\\n**Constraints:**\\r\\n- Manual or scripted process — not suitable for high-volume or real-time data\\r\\n- Requires someone to periodically extract and upload data\\r\\n- Consider revisiting the tree — can preprocessing (Q4b) unlock a better path via Logstash or Azure Monitor Pipeline?\",\r\n              \"style\": \"warning\"\r\n            },\r\n            \"conditionalVisibilities\": [\r\n              {\r\n                \"parameterName\": \"Q3\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q4b\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q5\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q6\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              },\r\n              {\r\n                \"parameterName\": \"Q8\",\r\n                \"comparison\": \"isEqualTo\",\r\n                \"value\": \"No\"\r\n              }\r\n            ],\r\n            \"name\": \"text-ResultAdHoc\"\r\n          }\r\n        ]\r\n      },\r\n      \"conditionalVisibilities\": [\r\n        {\r\n          \"parameterName\": \"Tab\",\r\n          \"comparison\": \"isEqualTo\",\r\n          \"value\": \"2\"\r\n        },\r\n        {\r\n          \"parameterName\": \"WorkspaceEligible\",\r\n          \"comparison\": \"isEqualTo\",\r\n          \"value\": \"Yes\"\r\n        }\r\n      ],\r\n      \"name\": \"group-AlternativeIngestion\"\r\n    },\r\n    {\r\n      \"type\": 12,\r\n      \"content\": {\r\n        \"version\": \"NotebookGroup/1.0\",\r\n        \"groupType\": \"editable\",\r\n        \"items\": [\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"## Installed Data Connectors & Coverage\\r\\n\\r\\nThis tab assesses your Sentinel deployment: connector health, data freshness, deployment maturity, and security domain coverage.\"\r\n            },\r\n            \"name\": \"text-InstalledHeader\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### 📖 How to Read This Tab\\r\\n\\r\\nThis tab assesses your **deployment maturity** — not by counting connectors against the full 600+ catalog (which would always look low), but by classifying your deployment against real-world benchmarks.\\r\\n\\r\\n**Deployment Maturity** uses two signals:\\r\\n- **Installed count** — how many connectors are reporting health data in the last 7 days\\r\\n- **Domains Covered** — how many of the 11 security domains (Identity, Endpoint, Network, Cloud, Email, Threat Intelligence, etc.) have at least one active connector\\r\\n\\r\\n> *\\\"While Microsoft Sentinel supports 600+ connectors, productive enterprise deployments typically operationalize around 15–40 connectors, scaling higher in mature SOC environments depending on data sources and use-case maturity.\\\"*\\r\\n\\r\\n**What matters more than connector count:**\\r\\n- ✅ Are **high-value sources** onboarded? (Entra ID, Defender XDR, firewall logs)\\r\\n- ✅ Are **key security domains** covered? (Identity + Endpoint + Network + Cloud at minimum)\\r\\n- ✅ Is ingestion **optimized**? (no duplication, no noise, right retention tier)\\r\\n- ❌ Avoid maximizing connector count — it increases cost and noise without proportional security value\\r\\n\\r\\n**Data source:** All health and freshness data comes from the `SentinelHealth` table (last 7 days). Domain coverage is computed by matching installed connectors against the connector catalog watchlist (`Con`).\\r\\n\\r\\n**📋 Recommendations** below the summary metrics automatically surfaces coverage gaps (domains with zero or minimal connectors), connector health issues (failures and warnings), and stale data sources. Items are prioritized by severity — address 🔴 High items first.\\r\\n\\r\\n🔗 [Best practices for data collection](https://learn.microsoft.com/azure/sentinel/best-practices-data)\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Help\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-InstalledHelp\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"let installedRaw = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| distinct SentinelResourceName;\\r\\nlet installedCount = toscalar(installedRaw | count);\\r\\nlet installed = installedRaw\\r\\n| extend Keys = pack_array(\\r\\n    tolower(SentinelResourceName),\\r\\n    tolower(extract(\\\"^(.+?)-[^-]+$\\\", 1, SentinelResourceName)),\\r\\n    replace_regex(tolower(SentinelResourceName), \\\"connector$\\\", \\\"\\\"))\\r\\n| mv-expand InstalledKey = Keys to typeof(string)\\r\\n| where isnotempty(InstalledKey)\\r\\n| distinct InstalledKey;\\r\\nlet catalog = _GetWatchlist('Con')\\r\\n| project\\r\\n    ConnectorID = column_ifexists(\\\"Connector ID\\\", \\\"\\\"),\\r\\n    Domain      = column_ifexists(\\\"Domain\\\", \\\"Other\\\")\\r\\n| extend CatalogKey = tolower(ConnectorID);\\r\\nlet domainsCovered = toscalar(\\r\\n    catalog\\r\\n    | join kind=inner installed on $left.CatalogKey == $right.InstalledKey\\r\\n    | mv-expand SingleDomain = split(Domain, \\\",\\\") to typeof(string)\\r\\n    | extend SingleDomain = trim(\\\" \\\", SingleDomain)\\r\\n    | where SingleDomain != \\\"Other\\\"\\r\\n    | summarize by SingleDomain\\r\\n    | count\\r\\n);\\r\\nlet tier = case(\\r\\n    installedCount >= 80, \\\"🟣 Enterprise\\\",\\r\\n    installedCount >= 40, \\\"🟢 Mature SOC\\\",\\r\\n    installedCount >= 15, \\\"🔵 Productive\\\",\\r\\n    installedCount >= 5,  \\\"🟡 Early\\\",\\r\\n    \\\"⚪ Initial\\\");\\r\\nprint\\r\\n    Installed = installedCount,\\r\\n    Maturity = tier,\\r\\n    ['Domains Covered'] = strcat(tostring(domainsCovered), ' / 11')\",\r\n              \"size\": 4,\r\n              \"title\": \"Deployment Maturity\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"cards\",\r\n              \"chartSettings\": {\r\n                \"showMetrics\": false\r\n              }\r\n            },\r\n            \"customWidth\": \"33\",\r\n            \"name\": \"query-CoverageSummary\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| summarize LastStatus = arg_max(TimeGenerated, Status) by SentinelResourceName\\r\\n| summarize Count = count() by Status\\r\\n| sort by Count desc\",\r\n              \"size\": 4,\r\n              \"title\": \"Health Summary\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"piechart\"\r\n            },\r\n            \"customWidth\": \"33\",\r\n            \"name\": \"query-HealthPieChart\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| summarize LastEvent = max(TimeGenerated) by SentinelResourceName\\r\\n| extend FreshnessBucket = case(\\r\\n    LastEvent > ago(1h), \\\"< 1 hour\\\",\\r\\n    LastEvent > ago(24h), \\\"< 24 hours\\\",\\r\\n    LastEvent > ago(3d), \\\"< 3 days\\\",\\r\\n    \\\"3+ days (stale)\\\"\\r\\n    )\\r\\n| summarize Count = count() by FreshnessBucket\\r\\n| sort by Count desc\",\r\n              \"size\": 4,\r\n              \"title\": \"Data Freshness\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"piechart\"\r\n            },\r\n            \"customWidth\": \"33\",\r\n            \"name\": \"query-FreshnessPieChart\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### 📊 Deployment Maturity Tiers\\r\\n\\r\\n| Tier | Connectors | Profile |\\r\\n|---|---|---|\\r\\n| ⚪ Initial | <5 | Pilot or POC phase |\\r\\n| 🟡 Early | 5–15 | Core Microsoft signals (Entra, Defender, M365) |\\r\\n| 🔵 Productive | 15–40 | Microsoft + network + identity + SaaS coverage |\\r\\n| 🟢 Mature SOC | 40–80 | Multi-vendor, custom connectors, TI feeds |\\r\\n| 🟣 Enterprise | 80+ | MSSP, multi-cloud, OT/IoT, full spectrum |\\r\\n\\r\\nℹ️ *More connectors ≠ better security. Value is driven by coverage of key domains and use-case alignment with detection rules.*\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Help\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-MaturityLegend\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### 📋 Recommendations Legend\\r\\n\\r\\n| Priority | Category | What triggers it |\\r\\n|---|---|---|\\r\\n| 🔴 High | 🛡️ Coverage Gap | A security domain has 0 installed connectors |\\r\\n| 🔴 High | ❌ Connector Failure | A connector reported failure events in the last 7 days |\\r\\n| 🟡 Medium | 🛡️ Minimal Coverage | A domain has only 1 connector (single point of failure) |\\r\\n| 🟡 Medium | ⚠️ Connector Warning | A connector reported warning events |\\r\\n| 🟡 Medium | 🕐 Stale Data | A connector's last health event is 3+ days old |\\r\\n\\r\\nℹ️ *Recommendations are dynamically generated from SentinelHealth and the connector catalog. An empty table means no issues were detected.*\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Help\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-RecommendationsLegend\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"let installed = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| distinct SentinelResourceName\\r\\n| extend Keys = pack_array(\\r\\n    tolower(SentinelResourceName),\\r\\n    tolower(extract(\\\"^(.+?)-[^-]+$\\\", 1, SentinelResourceName)),\\r\\n    replace_regex(tolower(SentinelResourceName), \\\"connector$\\\", \\\"\\\"))\\r\\n| mv-expand InstalledKey = Keys to typeof(string)\\r\\n| where isnotempty(InstalledKey)\\r\\n| distinct InstalledKey;\\r\\nlet catalog = _GetWatchlist('Con')\\r\\n| project\\r\\n    ConnectorID = column_ifexists(\\\"Connector ID\\\", \\\"\\\"),\\r\\n    Domain      = column_ifexists(\\\"Domain\\\", \\\"Other\\\")\\r\\n| extend CatalogKey = tolower(ConnectorID);\\r\\nlet coverageGaps = catalog\\r\\n| join kind=leftouter installed on $left.CatalogKey == $right.InstalledKey\\r\\n| extend IsInstalled = isnotempty(InstalledKey)\\r\\n| mv-expand SingleDomain = split(Domain, \\\",\\\") to typeof(string)\\r\\n| extend Domain = trim(\\\" \\\", SingleDomain)\\r\\n| where Domain != \\\"Other\\\"\\r\\n| summarize Total = count(), Installed = countif(IsInstalled) by Domain\\r\\n| where Installed == 0\\r\\n| project\\r\\n    Priority = 'High',\\r\\n    Category = 'Coverage Gap',\\r\\n    Finding = strcat('Domain \\\"', Domain, '\\\" has no installed connectors (0/', tostring(Total), ' available)'),\\r\\n    Action = strcat('Open Security Coverage by Domain & Subdomain and onboard at least one key source in \\\"', Domain, '\\\"');\\r\\nlet minimalCoverage = catalog\\r\\n| join kind=leftouter installed on $left.CatalogKey == $right.InstalledKey\\r\\n| extend IsInstalled = isnotempty(InstalledKey)\\r\\n| mv-expand SingleDomain = split(Domain, \\\",\\\") to typeof(string)\\r\\n| extend Domain = trim(\\\" \\\", SingleDomain)\\r\\n| where Domain != \\\"Other\\\"\\r\\n| summarize Total = count(), Installed = countif(IsInstalled) by Domain\\r\\n| where Installed == 1\\r\\n| project\\r\\n    Priority = 'Medium',\\r\\n    Category = 'Minimal Coverage',\\r\\n    Finding = strcat('Domain \\\"', Domain, '\\\" has only 1 connector installed (1/', tostring(Total), ' available)'),\\r\\n    Action = 'Add a second connector to eliminate single point of failure';\\r\\nlet healthIssues = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| where Status in (\\\"Failure\\\", \\\"Warning\\\")\\r\\n| summarize Count = count(), LastSeen = max(TimeGenerated) by SentinelResourceName, Status\\r\\n| project\\r\\n    Priority = iff(Status == \\\"Failure\\\", 'High', 'Medium'),\\r\\n    Category = iff(Status == \\\"Failure\\\", 'Connector Failure', 'Connector Warning'),\\r\\n    Finding = strcat(SentinelResourceName, ' — ', tostring(Count), ' ', tolower(Status), ' event(s), last seen ', format_datetime(LastSeen, 'yyyy-MM-dd HH:mm')),\\r\\n    Action = iff(Status == \\\"Failure\\\", 'Investigate connector configuration and data source connectivity', 'Open Connector Health Details and review Recent Failures & Warnings');\\r\\nlet staleConnectors = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| summarize LastEvent = max(TimeGenerated) by SentinelResourceName\\r\\n| where LastEvent < ago(3d)\\r\\n| project\\r\\n    Priority = 'Medium',\\r\\n    Category = 'Stale Data',\\r\\n    Finding = strcat(SentinelResourceName, ' — last health event ', format_datetime(LastEvent, 'yyyy-MM-dd HH:mm'), ' (3+ days ago)'),\\r\\n    Action = 'Verify the data source is still active and sending data';\\r\\nunion coverageGaps, healthIssues, minimalCoverage, staleConnectors\\r\\n| sort by Priority asc, Category asc\",\r\n              \"size\": 3,\r\n              \"title\": \"📋 Recommendations\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"table\",\r\n              \"gridSettings\": {\r\n                \"rowLimit\": 50,\r\n                \"formatters\": [\r\n                  {\r\n                    \"columnMatch\": \"Priority\",\r\n                    \"formatter\": 18,\r\n                    \"formatOptions\": {\r\n                      \"thresholdsOptions\": \"icons\",\r\n                      \"thresholdsGrid\": [\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"High\",\r\n                          \"representation\": \"4\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"Default\",\r\n                          \"thresholdValue\": \"\",\r\n                          \"representation\": \"2\",\r\n                          \"text\": \"{0}{1}\"\r\n                        }\r\n                      ]\r\n                    }\r\n                  },\r\n                  {\r\n                    \"columnMatch\": \"Category\",\r\n                    \"formatter\": 18,\r\n                    \"formatOptions\": {\r\n                      \"thresholdsOptions\": \"icons\",\r\n                      \"thresholdsGrid\": [\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Failure\",\r\n                          \"representation\": \"4\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Coverage Gap\",\r\n                          \"representation\": \"Sev1\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Warning\",\r\n                          \"representation\": \"2\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Stale\",\r\n                          \"representation\": \"1\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"Default\",\r\n                          \"thresholdValue\": \"\",\r\n                          \"representation\": \"more\",\r\n                          \"text\": \"{0}{1}\"\r\n                        }\r\n                      ]\r\n                    }\r\n                  }\r\n                ],\r\n                \"noDataMessage\": \"✅ No issues detected — all domains covered and connectors healthy.\"\r\n              }\r\n            },\r\n            \"name\": \"query-Recommendations\"\r\n          },\r\n          {\r\n            \"type\": 12,\r\n            \"content\": {\r\n              \"version\": \"NotebookGroup/1.0\",\r\n              \"groupType\": \"editable\",\r\n              \"title\": \"Connector Health Details\",\r\n              \"expandable\": true,\r\n              \"expanded\": false,\r\n              \"items\": [\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| summarize \\r\\n    LastEvent = max(TimeGenerated),\\r\\n    HealthStatus = arg_max(TimeGenerated, Status)\\r\\n    by SentinelResourceName, SentinelResourceKind\\r\\n| extend Freshness = case(\\r\\n    LastEvent > ago(1h), \\\"< 1 hour\\\",\\r\\n    LastEvent > ago(24h), \\\"< 24 hours\\\",\\r\\n    LastEvent > ago(3d), \\\"< 3 days\\\",\\r\\n    \\\"3+ days\\\"\\r\\n    )\\r\\n| project \\r\\n    ['Connector Name'] = SentinelResourceName,\\r\\n    Kind = SentinelResourceKind,\\r\\n    ['Last Status'] = Status,\\r\\n    ['Last Event'] = LastEvent,\\r\\n    Freshness\\r\\n| sort by ['Connector Name'] asc\",\r\n                    \"size\": 1,\r\n                    \"title\": \"Connector Health Status (Last 7 Days)\",\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 604800000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"table\",\r\n                    \"gridSettings\": {\r\n                      \"rowLimit\": 500,\r\n                      \"formatters\": [\r\n                        {\r\n                          \"columnMatch\": \"Last Status\",\r\n                          \"formatter\": 18,\r\n                          \"formatOptions\": {\r\n                            \"thresholdsOptions\": \"icons\",\r\n                            \"thresholdsGrid\": [\r\n                              {\r\n                                \"operator\": \"==\",\r\n                                \"thresholdValue\": \"Failure\",\r\n                                \"representation\": \"4\",\r\n                                \"text\": \"{0}{1}\"\r\n                              },\r\n                              {\r\n                                \"operator\": \"==\",\r\n                                \"thresholdValue\": \"Warning\",\r\n                                \"representation\": \"2\",\r\n                                \"text\": \"{0}{1}\"\r\n                              },\r\n                              {\r\n                                \"operator\": \"==\",\r\n                                \"thresholdValue\": \"Informational\",\r\n                                \"representation\": \"1\",\r\n                                \"text\": \"{0}{1}\"\r\n                              },\r\n                              {\r\n                                \"operator\": \"Default\",\r\n                                \"thresholdValue\": \"\",\r\n                                \"representation\": \"success\",\r\n                                \"text\": \"{0}{1}\"\r\n                              }\r\n                            ]\r\n                          }\r\n                        }\r\n                      ],\r\n                      \"noDataMessage\": \"No connector health data found. Ensure auditing and health monitoring is enabled.\"\r\n                    }\r\n                  },\r\n                  \"name\": \"query-ConnectorHealth\"\r\n                },\r\n                {\r\n                  \"type\": 3,\r\n                  \"content\": {\r\n                    \"version\": \"KqlItem/1.0\",\r\n                    \"query\": \"SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| where Status in (\\\"Failure\\\", \\\"Warning\\\")\\r\\n| summarize \\r\\n    Count = count(),\\r\\n    LastOccurrence = max(TimeGenerated)\\r\\n    by SentinelResourceName, Status, Description\\r\\n| sort by LastOccurrence desc\",\r\n                    \"size\": 4,\r\n                    \"title\": \"⚠️ Recent Failures & Warnings\",\r\n                    \"timeContext\": {\r\n                      \"durationMs\": 604800000\r\n                    },\r\n                    \"queryType\": 0,\r\n                    \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n                    \"visualization\": \"table\",\r\n                    \"gridSettings\": {\r\n                      \"rowLimit\": 100,\r\n                      \"noDataMessage\": \"✅ No recent connector failures or warnings detected.\"\r\n                    }\r\n                  },\r\n                  \"name\": \"query-FailuresWarnings\"\r\n                }\r\n              ]\r\n            },\r\n            \"name\": \"group-ConnectorHealthDetails\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### 🗂️ Security Domain Taxonomy\\r\\n\\r\\n| Domain | Subdomains |\\r\\n|---|---|\\r\\n| **Identity** | Authentication & SSO · Privileged Access · Identity Threat Protection |\\r\\n| **Email** | Email Platform · Email Security |\\r\\n| **Endpoint** | Detection & Response · Endpoint Protection · Vulnerability Management |\\r\\n| **Cloud Control Plane** | Activity & Audit Logs · Cloud Security Posture · Secrets & Compliance |\\r\\n| **Network / Perimeter** | Firewall & Gateway · Web & DNS Security · Network Detection |\\r\\n| **Threat Intelligence** | TI Feeds & Platforms · Threat Analytics |\\r\\n| **OT / IoT Security** | Industrial Control Systems · IoT & Device Security |\\r\\n| **Data Security** | Data Loss Prevention · Backup & Recovery |\\r\\n| **SIEM & Orchestration** | Aggregators & Forwarders · Automation & Response |\\r\\n| **Infrastructure** | Azure Platform Services · Application Servers |\\r\\n| **SaaS / Business Apps** | Collaboration & DevOps · Business Applications |\\r\\n| **Other** | Connectors not yet classified |\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Help\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-DomainLegend\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"let installed = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| distinct SentinelResourceName\\r\\n| extend Keys = pack_array(\\r\\n    tolower(SentinelResourceName),\\r\\n    tolower(extract(\\\"^(.+?)-[^-]+$\\\", 1, SentinelResourceName)),\\r\\n    replace_regex(tolower(SentinelResourceName), \\\"connector$\\\", \\\"\\\"))\\r\\n| mv-expand InstalledKey = Keys to typeof(string)\\r\\n| where isnotempty(InstalledKey)\\r\\n| distinct InstalledKey;\\r\\nlet catalog = _GetWatchlist('Con')\\r\\n| project\\r\\n    ConnectorName = column_ifexists(\\\"Connector Name\\\", \\\"\\\"),\\r\\n    ConnectorID  = column_ifexists(\\\"Connector ID\\\", \\\"\\\"),\\r\\n    Domain       = column_ifexists(\\\"Domain\\\", \\\"Other\\\"),\\r\\n    Subdomain    = column_ifexists(\\\"Subdomain\\\", \\\"\\\")\\r\\n| extend CatalogKey = tolower(ConnectorID);\\r\\ncatalog\\r\\n| join kind=leftouter installed on $left.CatalogKey == $right.InstalledKey\\r\\n| extend Installed = isnotempty(InstalledKey)\\r\\n| mv-expand SingleDomain = split(Domain, \\\",\\\") to typeof(string)\\r\\n| extend Domain = trim(\\\" \\\", SingleDomain)\\r\\n| mv-expand SingleSubdomain = split(Subdomain, \\\",\\\") to typeof(string)\\r\\n| extend Subdomain = trim(\\\" \\\", SingleSubdomain)\\r\\n| summarize\\r\\n    Total     = count(),\\r\\n    Installed = countif(Installed)\\r\\n    by Domain, Subdomain\\r\\n| extend Coverage = iff(Installed > 0, 'Covered', 'Not covered')\\r\\n| project Domain, Subdomain, Coverage, ['Installed / Total'] = strcat(tostring(Installed), ' / ', tostring(Total))\\r\\n| sort by Domain asc, Coverage asc\",\r\n              \"size\": 2,\r\n              \"title\": \"🛡️ Security Coverage by Domain & Subdomain — click a row to see connectors\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"exportFieldName\": \"Subdomain\",\r\n              \"exportParameterName\": \"SelectedSubdomain\",\r\n              \"exportDefaultValue\": \"\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"table\",\r\n              \"gridSettings\": {\r\n                \"rowLimit\": 50,\r\n                \"formatters\": [\r\n                  {\r\n                    \"columnMatch\": \"Coverage\",\r\n                    \"formatter\": 18,\r\n                    \"formatOptions\": {\r\n                      \"thresholdsOptions\": \"icons\",\r\n                      \"thresholdsGrid\": [\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Not covered\",\r\n                          \"representation\": \"4\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"Default\",\r\n                          \"thresholdValue\": \"\",\r\n                          \"representation\": \"success\",\r\n                          \"text\": \"{0}{1}\"\r\n                        }\r\n                      ]\r\n                    }\r\n                  }\r\n                ]\r\n              }\r\n            },\r\n            \"customWidth\": \"70\",\r\n            \"name\": \"query-DomainCoverageHeatmap\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"let installed = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| distinct SentinelResourceName\\r\\n| extend Keys = pack_array(\\r\\n    tolower(SentinelResourceName),\\r\\n    tolower(extract(\\\"^(.+?)-[^-]+$\\\", 1, SentinelResourceName)),\\r\\n    replace_regex(tolower(SentinelResourceName), \\\"connector$\\\", \\\"\\\"))\\r\\n| mv-expand InstalledKey = Keys to typeof(string)\\r\\n| where isnotempty(InstalledKey)\\r\\n| distinct InstalledKey;\\r\\nlet catalog = _GetWatchlist('Con')\\r\\n| project\\r\\n    ConnectorID = column_ifexists(\\\"Connector ID\\\", \\\"\\\"),\\r\\n    Domain      = column_ifexists(\\\"Domain\\\", \\\"Other\\\")\\r\\n| extend CatalogKey = tolower(ConnectorID);\\r\\ncatalog\\r\\n| join kind=leftouter installed on $left.CatalogKey == $right.InstalledKey\\r\\n| extend IsInstalled = isnotempty(InstalledKey)\\r\\n| mv-expand SingleDomain = split(Domain, \\\",\\\") to typeof(string)\\r\\n| extend Domain = trim(\\\" \\\", SingleDomain)\\r\\n| summarize\\r\\n    Total = count(),\\r\\n    Installed = countif(IsInstalled)\\r\\n    by Domain\\r\\n| extend Status = case(\\r\\n    Installed == 0, '❌ Gap',\\r\\n    Installed == 1, '⚠️ Minimal',\\r\\n    Installed < 4, '🟡 Developing',\\r\\n    '✅ Solid')\\r\\n| project Domain, Status\\r\\n| sort by Status asc, Domain asc\",\r\n              \"size\": 2,\r\n              \"title\": \"📊 Domain Coverage Heatmap\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"table\",\r\n              \"gridSettings\": {\r\n                \"formatters\": [\r\n                  {\r\n                    \"columnMatch\": \"Status\",\r\n                    \"formatter\": 18,\r\n                    \"formatOptions\": {\r\n                      \"thresholdsOptions\": \"icons\",\r\n                      \"thresholdsGrid\": [\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Gap\",\r\n                          \"representation\": \"4\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Minimal\",\r\n                          \"representation\": \"2\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"contains\",\r\n                          \"thresholdValue\": \"Developing\",\r\n                          \"representation\": \"1\",\r\n                          \"text\": \"{0}{1}\"\r\n                        },\r\n                        {\r\n                          \"operator\": \"Default\",\r\n                          \"thresholdValue\": \"\",\r\n                          \"representation\": \"success\",\r\n                          \"text\": \"{0}{1}\"\r\n                        }\r\n                      ]\r\n                    }\r\n                  }\r\n                ]\r\n              },\r\n              \"sortBy\": []\r\n            },\r\n            \"customWidth\": \"30\",\r\n            \"name\": \"query-DomainCoverageChart\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### 🎨 Heatmap Legend\\r\\n\\r\\n| Status | Installed | Meaning |\\r\\n|---|---|---|\\r\\n| ❌ Gap | 0 | No connectors — domain has no coverage |\\r\\n| ⚠️ Minimal | 1 | Single connector — fragile, no redundancy |\\r\\n| 🟡 Developing | 2–3 | Growing coverage — evaluate key sources |\\r\\n| ✅ Solid | 4+ | Strong coverage across the domain |\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"Help\",\r\n              \"comparison\": \"isEqualTo\",\r\n              \"value\": \"Yes\"\r\n            },\r\n            \"name\": \"text-HeatmapLegend\"\r\n          },\r\n          {\r\n            \"type\": 9,\r\n            \"content\": {\r\n              \"version\": \"KqlParameterItem/1.0\",\r\n              \"parameters\": [\r\n                {\r\n                  \"id\": \"f1a2b3c4-d5e6-7890-abcd-ef0123456789\",\r\n                  \"version\": \"KqlParameterItem/1.0\",\r\n                  \"name\": \"StatusFilter\",\r\n                  \"label\": \"Show\",\r\n                  \"type\": 10,\r\n                  \"isRequired\": true,\r\n                  \"typeSettings\": {\r\n                    \"additionalResourceOptions\": [],\r\n                    \"showDefault\": false\r\n                  },\r\n                  \"jsonData\": \"[{ \\\"value\\\": \\\"All\\\", \\\"label\\\": \\\"All\\\", \\\"selected\\\": true },\\r\\n{ \\\"value\\\": \\\"Installed\\\", \\\"label\\\": \\\"✅ Installed\\\" },\\r\\n{ \\\"value\\\": \\\"Not installed\\\", \\\"label\\\": \\\"— Not installed\\\" }]\",\r\n                  \"timeContext\": {\r\n                    \"durationMs\": 86400000\r\n                  }\r\n                }\r\n              ],\r\n              \"style\": \"above\",\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\"\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"SelectedSubdomain\",\r\n              \"comparison\": \"isNotEqualTo\"\r\n            },\r\n            \"name\": \"param-StatusFilter\"\r\n          },\r\n          {\r\n            \"type\": 3,\r\n            \"content\": {\r\n              \"version\": \"KqlItem/1.0\",\r\n              \"query\": \"let selectedSubdomain = '{SelectedSubdomain}';\\r\\nlet installed = SentinelHealth\\r\\n| where TimeGenerated > ago(7d)\\r\\n| where SentinelResourceType == \\\"Data connector\\\"\\r\\n| distinct SentinelResourceName\\r\\n| extend Keys = pack_array(\\r\\n    tolower(SentinelResourceName),\\r\\n    tolower(extract(\\\"^(.+?)-[^-]+$\\\", 1, SentinelResourceName)),\\r\\n    replace_regex(tolower(SentinelResourceName), \\\"connector$\\\", \\\"\\\"))\\r\\n| mv-expand InstalledKey = Keys to typeof(string)\\r\\n| where isnotempty(InstalledKey)\\r\\n| distinct InstalledKey;\\r\\nlet catalog = _GetWatchlist('Con')\\r\\n| project\\r\\n    ConnectorName = column_ifexists(\\\"Connector Name\\\", \\\"\\\"),\\r\\n    ConnectorID  = column_ifexists(\\\"Connector ID\\\", \\\"\\\"),\\r\\n    Domain       = column_ifexists(\\\"Domain\\\", \\\"Other\\\"),\\r\\n    Subdomain    = column_ifexists(\\\"Subdomain\\\", \\\"\\\"),\\r\\n    Vendor       = column_ifexists(\\\"Vendor\\\", \\\"\\\"),\\r\\n    Method       = column_ifexists(\\\"Method\\\", \\\"\\\")\\r\\n| extend CatalogKey = tolower(ConnectorID);\\r\\ncatalog\\r\\n| join kind=leftouter installed on $left.CatalogKey == $right.InstalledKey\\r\\n| extend Status = iff(isnotempty(InstalledKey), \\\"✅ Installed\\\", \\\"— Not installed\\\")\\r\\n| mv-expand SingleSubdomain = split(Subdomain, \\\",\\\") to typeof(string)\\r\\n| extend SingleSubdomain = trim(\\\" \\\", SingleSubdomain)\\r\\n| where SingleSubdomain == selectedSubdomain\\r\\n| project ['Connector Name'] = ConnectorName, Vendor, Method, Domain, Status\\r\\n| where '{StatusFilter}' == 'All' or Status == iff('{StatusFilter}' == 'Installed', '✅ Installed', '— Not installed')\\r\\n| sort by Status asc, ['Connector Name'] asc\",\r\n              \"size\": 0,\r\n              \"title\": \"📋 Connectors in '{SelectedSubdomain}'\",\r\n              \"timeContext\": {\r\n                \"durationMs\": 604800000\r\n              },\r\n              \"queryType\": 0,\r\n              \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n              \"visualization\": \"table\",\r\n              \"gridSettings\": {\r\n                \"rowLimit\": 500\r\n              }\r\n            },\r\n            \"conditionalVisibility\": {\r\n              \"parameterName\": \"SelectedSubdomain\",\r\n              \"comparison\": \"isNotEqualTo\"\r\n            },\r\n            \"name\": \"query-DomainDetail\"\r\n          },\r\n          {\r\n            \"type\": 1,\r\n            \"content\": {\r\n              \"json\": \"### ℹ️ Prerequisites\\r\\n\\r\\nThis tab requires **auditing and health monitoring** to be enabled in your Sentinel workspace. If the tables above are empty, follow the instructions to [Turn on auditing and health monitoring](https://learn.microsoft.com/azure/sentinel/enable-monitoring).\",\r\n              \"style\": \"info\"\r\n            },\r\n            \"name\": \"text-HealthPrerequisites\"\r\n          }\r\n        ]\r\n      },\r\n      \"conditionalVisibilities\": [\r\n        {\r\n          \"parameterName\": \"Tab\",\r\n          \"comparison\": \"isEqualTo\",\r\n          \"value\": \"3\"\r\n        },\r\n        {\r\n          \"parameterName\": \"WorkspaceEligible\",\r\n          \"comparison\": \"isEqualTo\",\r\n          \"value\": \"Yes\"\r\n        }\r\n      ],\r\n      \"name\": \"group-InstalledConnectors\"\r\n    }\r\n  ],\r\n  \"fallbackResourceIds\": [\r\n    \"/subscriptions/45dc4629-f423-4e3c-a063-37b62eec82fb/resourcegroups/rg-sentinel-001/providers/microsoft.operationalinsights/workspaces/log-sentinel-001\"\r\n  ],\r\n  \"fromTemplateId\": \"sentinel-UserWorkbook\",\r\n  \"$schema\": \"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"\r\n}\r\n\r\n",
    "functionAppName": "[format('func-wl-parser-{0}', parameters('uniqueSuffix'))]",
    "storageName": "[format('stwlparser{0}', parameters('uniqueSuffix'))]",
    "hostingPlanName": "[format('plan-wl-parser-{0}', parameters('uniqueSuffix'))]",
    "logicAppName": "la-watchlist-refresh",
    "appInsightsName": "[format('ai-wl-parser-{0}', parameters('uniqueSuffix'))]",
    "workbookName": "[guid(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName')), 'onboarding-assistant-workbook')]",
    "refreshSharedSecret": "[guid(resourceGroup().id, variables('functionAppName'), 'refresh-shared-secret')]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-05-01",
      "name": "[variables('storageName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "supportsHttpsTrafficOnly": true,
        "minimumTlsVersion": "TLS1_2"
      }
    },
    {
      "type": "Microsoft.Insights/components",
      "apiVersion": "2020-02-02",
      "name": "[variables('appInsightsName')]",
      "location": "[parameters('location')]",
      "kind": "web",
      "properties": {
        "Application_Type": "web",
        "WorkspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
      }
    },
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2023-12-01",
      "name": "[variables('hostingPlanName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Y1",
        "tier": "Dynamic"
      },
      "properties": {
        "reserved": false
      }
    },
    {
      "type": "Microsoft.Web/sites",
      "apiVersion": "2023-12-01",
      "name": "[variables('functionAppName')]",
      "location": "[parameters('location')]",
      "kind": "functionapp",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "httpsOnly": true,
        "siteConfig": {
          "powerShellVersion": "7.4",
          "appSettings": [
            {
              "name": "AzureWebJobsStorage",
              "value": "[format('DefaultEndpointsProtocol=https;AccountName={0};EndpointSuffix={1};AccountKey={2}', variables('storageName'), environment().suffixes.storage, listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2023-05-01').keys[0].value)]"
            },
            {
              "name": "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING",
              "value": "[format('DefaultEndpointsProtocol=https;AccountName={0};EndpointSuffix={1};AccountKey={2}', variables('storageName'), environment().suffixes.storage, listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageName')), '2023-05-01').keys[0].value)]"
            },
            {
              "name": "WEBSITE_CONTENTSHARE",
              "value": "[toLower(variables('functionAppName'))]"
            },
            {
              "name": "FUNCTIONS_EXTENSION_VERSION",
              "value": "~4"
            },
            {
              "name": "FUNCTIONS_WORKER_RUNTIME",
              "value": "powershell"
            },
            {
              "name": "WEBSITE_RUN_FROM_PACKAGE",
              "value": "[parameters('functionPackageUri')]"
            },
            {
              "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
              "value": "[reference(resourceId('Microsoft.Insights/components', variables('appInsightsName')), '2020-02-02').InstrumentationKey]"
            },
            {
              "name": "REFRESH_SHARED_SECRET",
              "value": "[variables('refreshSharedSecret')]"
            }
          ]
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/components', variables('appInsightsName'))]",
        "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": "[variables('$fxv#0')]",
        "parameters": {
          "functionAppHost": {
            "value": "[reference(resourceId('Microsoft.Web/sites', variables('functionAppName')), '2023-12-01').defaultHostName]"
          },
          "refreshSharedSecret": {
            "value": "[variables('refreshSharedSecret')]"
          },
          "subscriptionId": {
            "value": "[subscription().subscriptionId]"
          },
          "resourceGroupName": {
            "value": "[resourceGroup().name]"
          },
          "workspaceName": {
            "value": "[parameters('workspaceName')]"
          },
          "alertWebhookUrl": {
            "value": "[parameters('alertWebhookUrl')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites', variables('functionAppName'))]"
      ]
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "scope": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
      "name": "[guid(resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName')), variables('logicAppName'), 'ab8e14d6-4a74-4a29-9ba8-549422addade', 'v2')]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ab8e14d6-4a74-4a29-9ba8-549422addade')]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ]
    },
    {
      "type": "Microsoft.SecurityInsights/watchlists",
      "apiVersion": "2024-03-01",
      "scope": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
      "name": "Con_Meta",
      "properties": {
        "displayName": "Connector Catalog Metadata",
        "description": "Tracks refresh status of the Con watchlist (1 row, upserted each run)",
        "provider": "Onboarding Assistant",
        "source": "watchlist",
        "itemsSearchKey": "RunId",
        "contentType": "Text/Csv",
        "rawContent": "RunId,Timestamp,Result,SourceVersion,ActiveCount,DeprecatedCount,TotalCount,FailureStage,ErrorSummary\ninitial,2026-01-01T00:00:00Z,Pending,,0,0,0,,"
      }
    },
    {
      "condition": "[parameters('deployWorkbook')]",
      "type": "Microsoft.Insights/workbooks",
      "apiVersion": "2023-06-01",
      "name": "[variables('workbookName')]",
      "location": "[parameters('location')]",
      "kind": "shared",
      "properties": {
        "category": "sentinel",
        "displayName": "Sentinel Data Source Onboarding Assistant",
        "description": "Workbook for connector discovery, ingestion decision guidance, and connector health.",
        "sourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
        "version": "Notebook/1.0",
        "serializedData": "[variables('$fxv#1')]"
      }
    }
  ],
  "outputs": {
    "functionAppName": {
      "type": "string",
      "value": "[variables('functionAppName')]"
    },
    "functionAppHostName": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Web/sites', variables('functionAppName')), '2023-12-01').defaultHostName]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicAppName')]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    },
    "workbookResourceId": {
      "type": "string",
      "value": "[if(parameters('deployWorkbook'), resourceId('Microsoft.Insights/workbooks', variables('workbookName')), '')]"
    }
  }
}